a.back-to-login {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #d2ff0f;
    text-shadow: 0px 0px 3px #d2ff0f;
    margin: 5px 0px 5px 0px;
}

a.back-to-login:hover {
    color: #44df95;
    text-shadow: 0px 0px 1px #44df95;
}
