* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets_folder/assets/img/login_bg.jpg');
    background-size: cover;

}

.outer-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

h5 {
    color: #fff;
    font-size: 24px;
    margin: 10px;
    padding: 0px;
    position: relative;
    float: left;
    text-shadow: 0px 0px 4px rgba(230, 230, 230, 0.7);
}

h5 > span {
    color: #fff;
    font: bold 30px scriptina;
    text-shadow: 0px 0px 4px rgba(230, 230, 230, 0.7);
}

ul {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
    float: right;
}

li {
    margin: 10px;
    display: inline-block;
}

li > a {
    font-size: 25px;
}

li > a > i {
    text-shadow: 0px 0px 6px #ccc;
    transition: all 0.5s;
}

li > a:hover > i {
    cursor: pointer;
    text-shadow: 0px 0px 6px #fff;
}

i.fa-facebook-square {
    color: #3b5998;
}

i.fa-twitter {
    color: #55acee;
}

i.fa-instagram {
    color: #e95950;
}

.inner-container {
    position: absolute;
    width: 35%;
    text-align: center;
    background-image: url('assets_folder/assets/img/dash_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    padding-bottom: 10px;
    padding-top: 7px;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
}

td {
    font-size: 12px;
    color: #eee;
    text-shadow: 0px 0px 1px rgba(240,240,240,0.50);
}

.username, .password {
    width: 94%;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(230,240,240,0.8);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.username-incorrect, .password-incorrect {
    width: 94%;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(240,200,200,0.8);
    box-shadow: 0px 0px 2px 1px rgba(240, 0, 0, 0.6);
}

.password-hidden {
    display: none;
}

.username:focus, .password:focus {
    background-color: #fcfcff;
    box-shadow: 0px 0px 3px 1px #39e;
}

.correct {
    color: #d00;
    display: none /*table-cell*/;
    text-shadow: 0px 0px 1px rgba(230,0,0,0.7);
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background: radial-gradient(rgba(230,0,0,0.4), rgba(230,0,0,0.2), rgba(0,0,0,0));
    position: relative;
}

.incorrect {
    color: #d00;
    display: table-cell;
    text-shadow: 0px 0px 1px rgba(230,0,0,0.7);
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    background: radial-gradient(rgba(230,0,0,0.4), rgba(230,0,0,0.2), rgba(0,0,0,0));
    position: relative;
}

.login, .login:active {
    width: 30%;
    margin: 10px 0px 5px 0px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: white;
    font-size: 14px;
    background-color: #3e9;
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.5);
    transition: all 0.4s;
}

.login:hover {
    background-color: #fff;
    cursor: pointer;
    color: #3e9;
    width: 50%;
    box-shadow: 0px 0px 3px 1px #3e9;
}

a.forgot {
    padding-top: 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: orangered;
    text-shadow: 0px 0px 1px orangered;
    margin: 5px 0px 5px 0px;
}

a.forgot:hover {
    color: palevioletred;
    text-shadow: 0px 0px 1px palevioletred;
}

a.register {
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #d2ff0f;
    text-shadow: 0px 0px 3px #d2ff0f;
    margin: 5px 0px 5px 0px;
}

a.register:hover {
    color: #44df95;
    text-shadow: 0px 0px 1px #44df95;
}

.register > span {
    font-size: 20px;
    font-family: scriptina;
}

@font-face {
    font-family: 'scriptina';
    src: url('assets_folder/assets/fonts/scriptina.otf') format('opentype');
}
