* {
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('paperkit2/assets/img/fabio-mangione.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

h5{
    font-size: 24px;
    margin: 10px;
    padding: 0px;
    position: relative;
    float: left;
    text-shadow: 0px 0px 4px rgba(230,230,230,0.7);
}

h5 > span {
    font: bold 30px scriptina;
    text-shadow: 0px 0px 4px rgba(230,230,230,0.7);
}

ul {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
    float: right;
}

li {
    margin: 10px;
    display: inline-block;
}

li > a {
    font-size: 25px;
}

li > a > i {
    text-shadow: 0px 0px 6px #ccc;
    transition: all 0.5s;
}

li > a:hover > i {
    cursor: pointer;
    text-shadow: 0px 0px 6px #fff;
}

i.fa-facebook-square {
    color: #3b5998;
}

i.fa-twitter {
    color: #55acee;
}

i.fa-instagram {
    color: #e95950;
}

.github-profile-pic {
    transition: all 0.7s;
}

.github-profile-pic:hover {
    opacity: 0;
}

.main-container {
    padding : 0;
    /*background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4));*/
    margin: 80px 15px 0px 15px;
    /*height: calc(100% - 200px);*/
    display: -webkit-box;
}

.left-container {
    /*background: greenyellow;*/
    width:350px;
}

.middle-container {
    /*background: cornflowerblue;*/
    -webkit-box-flex: 1;
    height: 600px;
}

.right-container {
    /*background: indianred;*/
    width:300px;
}

.author-container {
    /*background: cornflowerblue;*/
    height: 350px;
    text-align: center;
}

.hashtags-container {
    background: indianred;
    height: 50px;
}

.author-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 6px 2px rgba(230,230,230,0.7);
}

.author-container h4 {
    width:100%;
    margin: 0;
    text-align: center;
    margin: 10px 0px 0px 0px;
    text-shadow: 0px 0px 6px rgba(240,240,240,0.7);
}

.follow-container {
    border: 2px solid white;
    display: -webkit-box;
}

.follow-container div {
    width: 50%;
    border: 2px solid yellow;
}

.story-container input, textarea{
  color: black;
}

@font-face {
    font-family: 'scriptina';
    src: url('paperkit2/assets/fonts/scriptina.otf') format('opentype');
}
