* {
    margin:0;
    padding: 0;
}

table, td, tr {
    margin:0;
    padding: 0;
}

td {
    /*background-color: #2aabd2;*/
}
.search-container {
    width : 95%;
}
input {
    position: relative;
    border:none;
    width:100%;
    padding:10px;
}

a{
    /*float: left;*/
}

h5 {
    color: #fff;
    font-size: 24px;
    margin: 10px;
    padding: 0px;
    position: relative;
    /*float: left;*/
    text-shadow: 0px 0px 4px rgba(230, 230, 230, 0.7);
}

h5 a {
    color: #fff;
}

h5 > span {
    color: #fff;
    font: bold 30px scriptina;
    text-shadow: 0px 0px 4px rgba(230, 230, 230, 0.7);
    border-right: 2px solid #eee;
    border-right-style: groove;
    padding-right: 15px;
    margin-right: 10px;
}